.search-input {
    width: 100%;
    margin-bottom: -1.25em
}
input.mat-input-element {
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
}
::ng-deep
.mat-form-field-wrapper>
.mat-form-field-flex>
.mat-form-field-infix>
.mat-form-field-label-wrapper>
.mat-form-field-label {
    padding: 0 10px!important;
}

.icon {
   border-radius: 50px;
   width: 24px;
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
}