/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* custom scrollbar */
.chat-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .chat-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }

  .chat-scrollbar::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    border-radius: 4px;
  }
  
  .chat-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }